@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main{
    width: 100%;
    height: 85vh;
    background-color: lightgray; /* Цвет фона */
    /* или */
    background-image: url('https://data.textstudio.com/output/sample/animated/1/4/3/8/roblox-1-18341.gif'); /* Изображение в качестве фона */
    background-size:cover; /* Растягивает изображение на всю область */
    background-repeat: no-repeat; /* Запрет повторения изображения */
}
.main2{
    width: 100%;
    height: 85vh;
    background-color: #7876e7;

}

.content{
    text-align: center;
    position: relative;
    top: 20%;
    
    color: #fff;
}

body {
    background-color: lightgray; /* Цвет фона */
    /* или */
    background-image: url('https://data.textstudio.com/output/sample/animated/1/4/3/8/roblox-1-18341.gif'); /* Изображение в качестве фона */
    background-size:cover; /* Растягивает изображение на всю область */
    background-repeat: no-repeat; /* Запрет повторения изображения */
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.photo {
    color: #fff;
    text-align: center;
    margin: 0 20px;
}

.photo img {
    width: 200px;
    max-width: 100%;
    
}

nav {
    background-color: #6e726e; /* Цвет фона */
    text-align: center; /* Выравнивание по центру */
}

ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
    display: inline-block; /* Отображаем элементы в одну строку и центрируем */
}

li {
    display: inline; /* Отображаем элементы в одну строку */
}

a {
    display: inline-block;
    color: white; /* Цвет текста */
    text-align: center;
    padding: 14px 16px; /* Отступы внутри элементов */
    text-decoration: none;
}

a:hover {
    background-color: #b0b9b4; /* Цвет фона при наведении курсора */
}

.main img{
    width: 300px;
    height: 350px;
}

.main2 img{
    width: 300px;
    height: 350px;
}

.main h1{
    font-size: 80px;
}
.main p{
    font-size: 50px;
}

img {
    border-radius: 40px; /* Пример радиуса закругления в 10 пикселей */
}
